@import url(./lib/assets/fonts/outfit-v15-latin/styles.css);

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --font-sans: "Outfit", "sans-serif";
    --font-mono: "Major Mono Display", monospace;
    --display-weight: 800;
    --text-weight: 400;


  --base-50: oklch(0.9851 0.001 33.69);
  --base-100: oklch(0.9567 0.0021 34.31);
  --base-200: oklch(0.9227 0.0029 34.49);
  --base-300: oklch(0.8696 0.0034 34.89);
  --base-400: oklch(0.7088 0.0038 34.83);
  --base-500: oklch(0.5543 0.0041 35.95);
  --base-600: oklch(0.4423 0.004 36.92);
  --base-700: oklch(0.3731 0.0037 36.25);
  --base-800: oklch(0.2686 0.0032 34.85);
  --base-900: oklch(0.212 0.0029 34.69);
  --base-950: oklch(0.1463 0.0027 33.58);
  --base-1000: oklch(0.1036 0.0021 33.95);

  --primary-50: oklch(0.9831 0.0107 60.44);
  --primary-100: oklch(0.9568 0.026 59.03);
  --primary-200: oklch(0.9052 0.0522 57.63);
  --primary-300: oklch(0.8431 0.0853 55.14);
  --primary-400: oklch(0.7601 0.1178 52.8);
  --primary-500: oklch(0.7131 0.1346 50.35);
  --primary-600: oklch(0.6114 0.139 47.95);
  --primary-700: oklch(0.5534 0.1226 45.41);
  --primary-800: oklch(0.4708 0.0992 43.22);
  --primary-900: oklch(0.4092 0.0781 42.07);
  --primary-950: oklch(0.268 0.0505 41.11);
  --primary-1000: oklch(0.1764 0.0324 39.88);

  --secondary-50: oklch(0.9752 0.0121 233.94);
  --secondary-100: oklch(0.9494 0.0249 234.17);
  --secondary-200: oklch(0.9008 0.0538 232.47);
  --secondary-300: oklch(0.83 0.101 232.03);
  --secondary-400: oklch(0.749 0.1434 234.56);
  --secondary-500: oklch(0.6871 0.1498 235.39);
  --secondary-600: oklch(0.5896 0.1395 238.11);
  --secondary-700: oklch(0.5284 0.1182 238.95);
  --secondary-800: oklch(0.4434 0.0969 240);
  --secondary-900: oklch(0.3913 0.0794 241.18);
  --secondary-950: oklch(0.2935 0.0585 241.55);
  --secondary-1000: oklch(0.2297 0.0447 242.94);

  /* Light theme as default */
  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-600);
  --chart-1: var(--primary-600);
  --chart-2: var(--secondary-700);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-600);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-600);

  /*DarkOnly*/
  /*--background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-950);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-600);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-600);
  --chart-1: var(--primary-600);
  --chart-2: var(--secondary-700);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-600);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-600);*/
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-600);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-600);
  --chart-1: var(--primary-600);
  --chart-2: var(--secondary-700);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-600);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-600);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-display: var(--font-sans);
  --font-text: var(--font-sans);
  --font-hero: var(--font-mono);

  --breakpoint-xs: 30rem;
}

body {
  letter-spacing: var(--tracking-normal);
}

html { scroll-behavior: smooth; color-scheme: dark light; }

*::selection {
	background: color-mix(in oklab, var(--color-primary) 100%, transparent);
	color: var(--color-primary-foreground);
}

.container {
    padding-inline: calc(var(--spacing) * 8);
    transition: max-width 200ms ease;
}

strong, [class*="-gradient"] {
	color: var(--color-primary);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;

	&::selection {
		-webkit-text-fill-color: initial;
	}
}

strong, .primary-gradient {
	background-image: linear-gradient(-45deg, var(--color-primary-600) 0%, var(--color-primary-500) 100%);
}

.secondary-gradient {
    color: var(--color-secondary);
    background-image: linear-gradient(-45deg, var(--color-secondary-600) 0%, var(--color-secondary-500) 100%);
}

.base-gradient {
    --_gradient-color-start: var(--color-base-700);
    --_gradient-color-end: var(--color-base-900);
    color: var(--_gradient-color-end);
    background-image: linear-gradient(-45deg, var(--_gradient-color-start) 0%, var(--_gradient-color-end) 100%);

    :where(*:is(.dark *)) & {
        --_gradient-color-start: var(--color-base-300);
        --_gradient-color-end: var(--color-base-50);
    }
}

.auto-grid {
    --min-col-size: 300px;
    --gap: calc(var(--spacing) * 4);
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(min(var(--min-col-size), 100%), 1fr));
}

.auto-fit-grid {
    --min-col-size: 300px;
    --gap: calc(var(--spacing) * 4);
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-display;
  }

  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}
